<div class="col-md-9">
	<h2>{{ title }}</h2>
	<div class="col-xs-12 alert alert-danger" ng-show="err">
		<p>{{errMsg}}</p>
	</div>
	<button class="button btn-success" ng-click="doNew()" data-toggle="modal" data-target="#productModal">New Product</button>
	<table class="table table-striped">
	  <thead>
	  <tr>
			<th>id</th>
			<th>name</th>
			<th></th>
	  </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="item in productList | orderBy: 'id'">
			<td>{{ item.id }}</td>
			<td>{{ item.name }}</td>

			<td>
				<div class="btn-group" role="group">
					<button class="button btn-primary" ng-click="doEdit(item)" data-toggle="modal" data-target="#productModal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
					<button class="button btn-danger" ng-click="doRemove(item)"><span class="glyphicon glyphicon-remove"></span>Remove</button>
				</div>
			</td>
	    </tr>
	  </tbody>
	</table>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" ng-click="cancel()">&times;</span><span class="sr-only">Close</span></button>
         <h4 class="modal-title" id="myModalLabel" ng-show="isNew">New Product</h4>
         <h4 class="modal-title" id="myModalLabel" ng-hide="isNew">Edit Product</h4>
       </div>
       <div class="modal-body">
           <form class="form-horizontal" role="form">
             	<div class="form-group">
					
					<div>
						<label for="inputId" class="col-xs-4 control-label">Id:</label>
						<div class="col-xs-8 controls">

							<input type="number" class="form-control" placeholder="Id"ng-if="domainMap['Id'] == null || (domainMap['Id'].domainTypeCode == 'BASE' && domainMap['Id'].domainValue[0] == null)" ng-model="editedItem.id">

						</div>
					</div>
						
					
					<div>
						<label for="inputName" class="col-xs-4 control-label">Name:</label>
						<div class="col-xs-8 controls">

							<input type="text" class="form-control" placeholder="Name"ng-if="domainMap['Name'] == null || (domainMap['Name'].domainTypeCode == 'BASE' && domainMap['Name'].domainValue[0] == null)" ng-model="editedItem.name">

						</div>
					</div>
					

					
				</div>
         </form>
     </div>
     <div class="modal-footer">
         <a data-dismiss="modal" class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i>&nbsp;Close</a>
         <a data-dismiss="modal" class="btn btn-primary" ng-click="post()" ng-disabled="isIncomplete"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save changes</a>
     </div>
  </div>
 </div>
</div>